footer p {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  font-size: small;
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  font-style: italic;
  height: 150px;
}

.social_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 60px;
}

.social_list li {
  padding: 0px;
  margin: 0px 10px;
  font-size: large;
}

.social_list li:hover {
  font-size: x-large;
}

.fafacebook:hover {
  color: #3B5998;
}

.fainstagram:hover {
  color: #b52e81;
}

.falinkedin:hover {
  color: #0077B5;
}

.fayoutube:hover {
  color: #E62117;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

footer a {
  color: rgb(247, 205, 255);
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

footer a:visited {
  color: rgb(233, 126, 126);
}