footer p {
  background-color: rgb(73, 6, 88);
  margin: 0;
}

footer {
  background-color: rgb(73, 6, 88);
  color: rgb(187, 139, 233);
  padding: 20px;
  text-align: center;
  font-style: italic;
}

.social_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social_list li {
  margin: 0 1em;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}